/* Global styles--------------------------- */

/* Sets font-family for body */
html {
  font-family: raleway;
  font-weight: 400;
  letter-spacing: 1px;
}

/* Sets font family for headings and navigation */
h1,
h2,
h3,
h4,
h5,
h6,
.topnav {
  font-family: lato;
  letter-spacing: 1px;
  font-weight: bold;
}

/* Removes underlines from links */
a {
  text-decoration: none;
}

/* End global styles---------------------- */

/* Header styles-------------------------- */

/* Add padding to the top navigation */
.topnav {
  overflow: hidden;
  padding-left: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #339933;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #6ec986;
  color: #ffffff;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #339933;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  padding-right: 20px;
}

/* End header styles----------------------- */

/* Body Styles----------------------------- */

/* This styles the layout of the featured image */
#featured-image {
  border: 5px rgb(212, 212, 212) solid;
  padding: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 350px;
}

/* This adjusts the title and species heading */
.article-intro {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* Remove underline, add border, and list style for content list */

.contents ul {
  list-style-type: none;
  float: left;
  color: #339933;
  text-align: left;
  padding: 14px 16px;
  font-size: 17px;
  border-style: solid;
  border-width: 1px;
  margin-right: 15px;
}

/* Close body styles----------------------- */